<template lang="">
  <Auth>
    <div>
      <h1>Product View</h1>
    </div>
  </Auth>
</template>
<script>
import Auth from '../components/Auth'
import { getProduct } from '../services/product'
export default {
  async mounted () {
    const product = await getProduct()
    console.log(product)
  },
  components: {
    Auth
  }
}
</script>
<style lang=""></style>
